@tailwind base;
@tailwind components;
@tailwind utilities;

.transform {
  transition-property: transform;
}

.transition-transform {
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.translate-x-0 {
  transform: translateX(0);
}

.translate-x-full {
  transform: translateX(100%);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-content {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}


@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideInFromTop 1s ease-out, slideInFromBottom 1s ease-out;
}

